@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");

$background-color: #474550;
$text-color: #26a80c;
$text-nav-color: white;
$nav-hover-color: #55f335;
$font-size: 10px;
$height-nav: 20px;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	box-shadow: none;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: white;
	margin: 0;
	font-size: $font-size;
	scroll-behavior: smooth;
	background-color: $background-color;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

/* navigation */

.nav {
	height: $height-nav;
	line-height: $height-nav;
	background-color: #333;
	text-align: center;
}

.bars-icon {
	display: block;
	margin-left: auto;
	line-height: $height-nav;
	padding: 0 $height-nav;
	color: $text-nav-color;
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.2s;
}

.bars-icon:hover {
	color: $nav-hover-color;
}

.nav-items {
	display: none;
}

/* header */

.header {
	position: relative;
	height: 250px;
	background-image: url("../img/warsaw_640.jpg");
	background-size: cover;
	background-position: center;
	// background-position: 0 30%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 100;
}

.header-text img {
	height: 100px;
	width: 100px;
	margin-left: 20%;
	text-align: center;
}

.header-text h1 {
	font-size: 1.75rem;
	letter-spacing: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-shadow: 3px 3px 5px $text-color;
	color: #ddd;
	font-weight: bold;
}

// .header-text span {
// color: $nav-hover-color;
// }

.header-text p {
	font-size: 0.72rem;
	letter-spacing: 1px;
	font-weight: bold;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 26, 0.5);
}

main {
	margin: 40px 0px;
}

/* about-us */

.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

.about-info {
	margin-bottom: 10px;
	width: 80%;
	margin-left: 10%;
	text-align: justify;
}

/* offer */

.offers-info {
	text-align: center;
}
.offer {
	display: block;
	margin-top: 30px;
	color: #fff;
	font-size: 30px;
	color: $nav-hover-color;
	text-align: center;
}
.offer-title {
	display: block;
	color: #fff;
	color: $nav-hover-color;
	text-align: center;
}

/* footer */

.footer {
	background-color: #fff;
	text-align: center;
}
.footer-text {
	font-size: 1rem;
}
.footer-text a {
	color: #474550;
	font-weight: 500;
	text-decoration: none;
}

@media (orientation: portrait) {
}

@media (min-width: 200px) {
}

@media (min-width: 300px) {
}

@media (min-width: 400px) {
}

@media (min-width: 450px) {
}

@media (min-width: 500px) {
	.bars-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		font-size: 0.8rem;
		font-weight: bold;
		color: $text-nav-color;
		padding: 0 15px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		transition: color 0.2s;
	}
	.nav-items a:hover {
		color: $nav-hover-color;
	}
	.header {
		height: 400px;
		background-image: url("../img/warsaw_1920.jpg");
	}
	.header-text img {
		height: 150px;
		width: 150px;
		margin-left: 20%;
		text-align: center;
	}
	.header-text h1 {
		font-size: 3.2rem;
	}
	.header-text p {
		font-size: 1.3rem;
	}
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
	.nav {
		height: 4rem;
		line-height: 4rem;
	}
	.nav-items a {
		font-size: 1.2rem;
		padding: 2rem 3rem;
		letter-spacing: 2px;
		transition: color 0.2s;
	}
	.header {
		height: 500px;
		background-image: url("../img/warsaw_1920.jpg");
	}
	.header-text img {
		height: 200px;
		width: 200px;
		margin-left: 20%;
		text-align: center;
	}
	.header-text h1 {
		font-size: 4.2rem;
	}
	.header-text p {
		font-size: 2.3rem;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
