@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: #474550;
}

.container {
  margin: 25px auto;
  width: 100%;
  max-width: 1200px;
}

section {
  scroll-margin-top: 45px;
}

.shadow {
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  padding: 20px 30px;
  width: 80%;
  max-width: 400px;
}

/* navigation */
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20px;
  line-height: 20px;
  background-color: #333;
  text-align: center;
  z-index: 1000;
}

.container-start {
  width: 100%;
  max-width: 1200px;
}

.bars-icon {
  display: none;
}

.nav-items {
  display: block;
}

.nav-items a {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 0 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.2s;
}

.nav-items a:hover {
  color: #55f335;
}

.logo-picture {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

/* header */
.header {
  position: relative;
  height: 250px;
  background-image: url("../img/warsaw_640.jpg");
  background-size: cover;
  background-position: center;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
}

.header-text img {
  height: 100px;
  width: 100px;
  margin-left: 20%;
  text-align: center;
}

.header-text h1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #26a80c;
  color: #ddd;
  font-weight: bold;
}

.header-text p {
  font-size: 0.72rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 3, 26, 0.5);
}

main {
  margin: 10px 0px;
}

/* about-us */
.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #55f335;
  letter-spacing: 1px;
}

.about-info {
  margin-bottom: 15px;
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}

/* offer */
.offers-info {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.offer {
  display: block;
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  color: #55f335;
  text-align: center;
}

.offer-title {
  display: block;
  color: #fff;
  color: #55f335;
  text-align: center;
}

/* dropdown */
.dropdown-btn {
  display: block;
  width: 100%;
  height: 100%;
  color: #55f335;
  z-index: 500;
  font-weight: bold;
}

.dropdown h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #55f335;
}

.dropdown-btn i {
  font-size: 2rem;
}

.dropdown-btn p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.dropdown-box {
  margin: 10px;
  text-align: center;
}

.dropdown-box:hover button {
  transform: scale(1.2);
}

.dropdown-box button {
  text-align: center;
  transition: transform 0.3s;
}

.dropdown-btn {
  padding: 5px;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  border: none;
  background-color: #474550;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.dropdown-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}

.dropdown-active {
  display: block;
}

.long-word {
  height: 30px;
  width: 80%;
  margin-left: 10%;
}

.dropdown-note {
  display: inline-block;
  margin-left: 20px;
  color: gray;
}

.info-list {
  width: 170px;
  position: relative;
  left: 60%;
  transform: translate(-60%, 0);
}

.info-list p {
  display: flow-root list-item;
  text-align: left;
}

/* form */
.form {
  height: 400px;
}
.form h2 {
  margin: 10px 0;
}
.form h3 {
  text-transform: none;
}
.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  text-align: center;
  margin-bottom: 5px;
  color: #4ad393;
}
.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}
.form button {
  float: right;
  padding: 8px 12px;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #26a80c;
  background: 0;
  color: #55f335;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.7px;
}
.form button:hover {
  background: #588c4d;
  color: #fff;
  font-weight: bold;
}
.form div {
  display: flex;
  flex-direction: row;
}
.form div p {
  margin: 0px 5px;
  width: 40%;
}
.form div p:first-child {
  width: 60%;
}
.form span {
  margin: 0 5px 0 15px;
}

/* contact */
.contact h3 {
  color: white;
}

/* job */
.job {
  display: none;
}

.job h3 {
  color: white;
}

/* footer */
.footer {
  background-color: #fff;
  text-align: center;
  padding: 2px 0px;
}

.footer-text {
  font-size: 1rem;
}

.footer-text a {
  color: #474550;
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 400px) {
  .nav-items a {
    padding: 0 15px;
  }
  .logo-picture {
    left: 49%;
  }
  .form button {
    margin-top: 40px;
  }
  .form div p {
    width: 35%;
  }
  .form div p:first-child {
    width: 65%;
  }
}
@media (min-width: 500px) {
  .header {
    height: 400px;
    background-image: url("../img/warsaw_1920.jpg");
  }
  .header-text img {
    height: 150px;
    width: 150px;
    margin-left: 20%;
    text-align: center;
  }
  .header-text h1 {
    font-size: 3.2rem;
  }
  .header-text p {
    font-size: 1.3rem;
  }
  .info-list {
    width: 210px;
    left: 50%;
    transform: translate(-40%, 0);
  }
  .info-list p {
    font-size: 1.2rem;
  }
  .form p {
    font-size: 1.3rem;
  }
  .form div p {
    margin: 0px 20px;
  }
  .form button {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .logo-picture {
    height: 50px;
    width: 50px;
  }
  .container {
    font-size: 1.8rem;
  }
  .nav {
    height: 5rem;
    line-height: 5rem;
  }
  .nav-items a {
    font-size: 1.5rem;
    padding: 2.2rem 4.5rem;
    letter-spacing: 3px;
  }
  section {
    scroll-margin-top: 75px;
  }
  .header {
    height: 500px;
    background-image: url("../img/warsaw_1920.jpg");
  }
  .header-text img {
    height: 200px;
    width: 200px;
    margin-left: 20%;
    text-align: center;
  }
  .header-text h1 {
    font-size: 4.2rem;
  }
  .header-text p {
    font-size: 2.3rem;
  }
  .shadow {
    max-width: 750px;
  }
  .section-title {
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
  .dropdown-btn {
    padding: 12px;
  }
  .dropdown-box:hover button {
    transform: scale(1.12);
  }
  .dropdown-btn i {
    font-size: 3rem;
  }
  .dropdown-btn p {
    font-size: 2rem;
    margin-top: 9px;
  }
  .info-list p {
    font-size: 1.7rem;
  }
  .info-list {
    width: 300px;
  }
  #ask-offer {
    height: 510px;
  }
  .form {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
  }
  .form p {
    font-size: 1.5rem;
  }
  .footer-text {
    font-size: 1.6rem;
  }
  .form input {
    font-size: 1.6rem;
  }
  .form button {
    font-size: 1.6rem;
  }
  .form button {
    position: relative;
    left: 6%;
  }
}/*# sourceMappingURL=style.css.map */