@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
// @import url("http://fonts.googleapis.com/css?family=Alatsi&subset=latin,latin-ext");

$background-color: #474550;
$text-color: #26a80c;
$text-nav-color: white;
$nav-hover-color: #55f335;
$font-size: 10px;
$height-nav: 20px;
$container-margin: 25px;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	box-shadow: none;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: white;
	margin: 0;
	font-size: $font-size;
	scroll-behavior: smooth;
	background-color: $background-color;
}

.container {
	margin: $container-margin auto;
	// 	width: 100%;
	// 	max-width: 1200px;
}

section {
	scroll-margin-top: $height-nav + $container-margin;
}

.shadow {
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	padding: 15px 30px;
	width: 270px;
}

/* navigation */
.nav {
	position: sticky;
	top: 0;
	height: $height-nav;
	line-height: $height-nav;
	background-color: #333;
	text-align: center;
	z-index: 1000;
}
.container-start {
	width: 100%;
	max-width: 1200px;
}
.bars-icon {
	display: none;
}
.nav-items {
	display: block;
}
.nav-items a {
	font-size: 0.8rem;
	font-weight: bold;
	color: $text-nav-color;
	padding: 0 12px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: color 0.2s;
}
.nav-items a:hover {
	color: $nav-hover-color;
}
.logo-picture {
	height: $height-nav;
	width: $height-nav;
	position: absolute;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
}
/* navigation */

/* header */
.header {
	position: relative;
	height: 250px;
	background-image: url("../img/warsaw_640.jpg");
	background-size: cover;
	background-position: center;
}
.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 100;
}
.header-text img {
	height: 100px;
	width: 100px;
	margin-left: 20%;
	text-align: center;
}
.header-text h1 {
	font-size: 1.75rem;
	letter-spacing: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-shadow: 3px 3px 5px $text-color;
	color: #ddd;
	font-weight: bold;
}
.header-text p {
	font-size: 0.72rem;
	letter-spacing: 1px;
	font-weight: bold;
}
.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 26, 0.5);
}
main {
	margin: 10px 0px;
}
/* header */

/* about-us */
.section-title {
	margin-top: 2%;
	margin-bottom: 6%;
	text-transform: uppercase;
	text-align: center;
	color: $nav-hover-color;
	letter-spacing: 1px;
}
.about-info {
	margin-bottom: 15px;
	text-align: justify;
	// padding: 0px 45px;
}
/* about-us */

/* offer */
.offers-info {
	margin-bottom: 15px;
	text-align: justify;
	// padding: 0px 45px;
}
.offer {
	display: block;
	margin-top: 30px;
	color: #fff;
	font-size: 30px;
	color: $nav-hover-color;
	text-align: center;
}
.offer-title {
	display: block;
	color: #fff;
	color: $nav-hover-color;
	text-align: center;
}

b {
	color: $nav-hover-color;
}

/* dropdown */
.dropdown-btn {
	display: block;
	width: 100%;
	height: 100%;
	color: $nav-hover-color;
	z-index: 500;
	font-weight: bold;
}
.dropdown h3 {
	margin-bottom: 1rem;
	font-size: 1rem;
	color: $nav-hover-color;
}
.dropdown-btn i {
	font-size: 2rem;
}
.dropdown-btn p {
	font-size: 1.4rem;
	margin-top: 5px;
}
.dropdown-box {
	margin: 10px;
	text-align: center;
}
.dropdown-box:hover button {
	transform: scale(1.2);
}
.dropdown-box button {
	text-align: center;
	transition: transform 0.3s;
}
.dropdown-btn {
	padding: 5px;
	width: 100%;
	font-size: 1.4rem;
	text-align: left;
	border: none;
	background-color: $background-color;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.dropdown-info {
	// padding: 10px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	display: none;
	// left: 50%;
	// transform: translate(10%, 0);
}
.dropdown-active {
	display: block;
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.long-word {
	height: 30px;
	width: 80%;
	margin-left: 10%;
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.dropdown-note {
	display: inline-block;
	margin-left: 20px;
	color: gray;
}
.info-list {
	width: 144px;
	margin-left: 6px;
	text-align: left;
	font-size: 0.7rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	p {
		padding: 1px 0;
	}
}
/* dropdown */

/* form */
form {
	// h2 {
	// 	margin: 10px 0;
	// }
	h3 {
		text-transform: none;
	}
	input {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		background: none;
		outline: none;
		resize: none;
		border: 0;
		transition: all 0.3s;
		border-bottom: 2px solid #bebed2;
		text-align: center;
		margin-bottom: 5px;
		color: #4ad393;
		// font-size: .4rem;
		padding-bottom: 5px;
	}
	input:focus {
		border-bottom: 2px solid #78788c;
	}
	p {
		text-align: center;
		font-size: 1.2rem;
		margin-top: 10px;
	}
	button {
		float: right;
		padding: 8px 12px;
		margin-top: 30px;
		font-size: 1.1rem;
		font-weight: bold;
		border: 2px solid $text-color;
		background: 0;
		color: $nav-hover-color;
		cursor: pointer;
		transition: all 0.3s;
		letter-spacing: 0.7px;
	}
	button:hover {
		background: #588c4d;
		color: #fff;
		font-weight: bold;
	}
	div {
		display: flex;
		flex-direction: row;
		width: 80%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		p {
			margin: 0px 5px;
			width: 40%;
		}
		p:first-child {
			width: 60%;
		}
	}
	span {
		margin: 0 5px 0 15px;
	}
}

#ask-offer {
	height: 400px;
}
#job {
	height: 370px;
}
// #job-p1::before {
// 	content: "Jesteś osobą, która jest fachowcem w wielu dziedzinach i poradzi sobie z różnymi napra- wami. Na warszawskim rynku istnieje duże zapotrzebowanie na usługi takich specjalistów. Szukasz pracy w tym zawodzie lub chcesz doskonalić swoje umiejętności w jednej z naj- bardziej rozpoznawanych marek w tej branży usług, to napisz do nas.";
// }

// .file {
// 	// width: 65%;
// }

.offer-info {
	// width: 80%;
	// margin-left: 10%;
	// width: 163px;
	text-align: justify;
	// text-justify:none;
	// text-justify: inter-word;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

input[type="file"]::file-selector-button {
	float: right;
	font-size: 1.1rem;
	font-weight: bold;
	border: 2px solid $text-color;
	background: 0;
	color: $nav-hover-color;
	cursor: pointer;
	transition: all 0.3s;
	letter-spacing: 0.7px;
}

input[type="file"]::file-selector-button:hover {
	background: #588c4d;
	color: #fff;
	font-weight: bold;
}
/* form */

/* contact */
.contact h3 {
	font-size: 1.1rem;
	color: white;
}
/* contact */

/* job */
.job {
	display: none;
}
.job h3 {
	color: white;
}
/* job */

/* footer */
.footer {
	background-color: #fff;
	text-align: center;
	padding: 2px 0px;
}
.footer-text {
	font-size: 1rem;
}
.footer-text a {
	color: #474550;
	font-weight: 500;
	text-decoration: none;
}
/* footer */

// @media (orientation: portrait) {
// }

// @media (min-width: 200px) {
// }

// @media (min-width: 300px) {
// 	#job {
// 		height: 460px;
// 	}
// }

@media (min-width: 400px) {
	.shadow {
		width: 310px;
		padding: 20px 49px;
	}
	// #job-p1::before {
	// 	content: "Jesteś osobą, która jest fachowcem w wielu dzie- dzinach i poradzi sobie z różnymi naprawami. Na warszawskim rynku istnieje duże zapotrzebowanie na usługi takich specjalistów. Szukasz pracy w tym zawodzie lub chcesz doskonalić swoje umiejętności w jednej z najbardziej rozpoznawanych marek w tej branży usług, to napisz do nas.";
	// }
	.nav-items a {
		padding: 0 15px;
	}
	.logo-picture {
		left: 49%;
	}
	.about-info,
	.offers-info {
		margin-bottom: 15px;
		text-align: justify;
		// width: 240px;
		// position: relative;
		// left: 50%;
		// transform: translateX(-50%);
	}
	form {
		button {
			margin-top: 40px;
		}
		div {
			p {
				width: 35%;
			}
			p:first-child {
				width: 65%;
			}
		}
	}
}

// @media (min-width: 450px) {
// 	.shadow {
// 		width: 300px;
// 	}
// }

// @media (min-width: 500px) {
// 	.shadow {
// 		width: 66%;
// 	}
// }

@media (min-width: 500px) {
	.shadow {
		width: 410px;
		padding: 20px 50px;
	}
	// #offers-p::before {
	// 	content: "Utrzymujemy sprawność techniczną obsługiwanych nie- ruchomości. Wspieramy naszych klientów ";
	// }
	// #offers-p::after {
	// 	content: "Przez prowadzenie kompleksowej konserwacji optymalizujemy koszty napraw i modernizacji. Służymy fachowym doradztwem, chętnie dzielimy się wiedzą i źródłami dostaw w celu minimalizacji kosztów części zamiennych.";
	// }
	// #offer-p1::before {
	// 	content: "Prowadzimy kompleksowe usługi konser- wacji budynków mieszkalnych, biurowych i technicznych w zakresie:";
	// }
	// #offer-p2::before {
	// 	content: "W przypadku rozszerzonych potrzeb, remontujemy i modernizujemy budynki. Szczegółowy zakres prac wysyłamy na prośbę klientów.";
	// }
	// #offer-p3::before {
	// 	content: "Wykonujemy wszystkie konieczne prze- glądy wymagane przepisami prawa budo- wlanego. Przygotowujemy pełny plan kontroli technicznych. Przykładowe prze- glądy i kontrole:";
	// }
	// #offer-p4::before {
	// 	content: "W przypadku awarii wykonujemy badania specjalistycznym sprzętem: kamera ter- mowizyjna, robot. Pełny zakres usług przesyłamy na życzenie klientów.";
	// }
	// #offer-p5::before {
	// 	content: "Prowadzimy całodobowe pogotowie techniczne. Wykonane prace takie jak konserwacja, przeglądy, kontrole, doku- mentujemy w prowadzonych przez nas rejestrach na bieżąco dostępnych dla właścicieli i zarządców obiektów.";
	// }
	// #job-p1::before {
	// 	content: "Jesteś osobą, która jest fachowcem w wielu dzie- dzinach i poradzi sobie z różnymi naprawami. Na warszawskim rynku istnieje duże zapotrzebowanie na usługi takich specjalistów. Szukasz pracy w tym zawodzie lub chcesz doskonalić swoje umiejętności w jednej z najbardziej rozpoznawanych marek w tej branży usług, to napisz do nas.";
	// }
	// .bars-icon {
	// 	display: none;
	// }
	// .nav-items {
	// 	display: block;
	// }
	// .nav-items a {
	// 	font-size: 0.8rem;
	// 	font-weight: bold;
	// 	color: $text-nav-color;
	// 	padding: 0 15px;
	// 	text-transform: uppercase;
	// 	text-decoration: none;
	// 	letter-spacing: 2px;
	// 	transition: color 0.2s;
	// }
	// .nav-items a:hover {
	// 	color: $nav-hover-color;
	// }
	.header {
		height: 400px;
		background-image: url("../img/warsaw_1920.jpg");
	}
	.header-text img {
		height: 150px;
		width: 150px;
		margin-left: 20%;
		text-align: center;
	}
	.header-text h1 {
		font-size: 3.1rem;
	}
	.header-text p {
		font-size: 1.3rem;
	}
	// .info-list {
	// 	width: 240px;
	// 	// left: 35%;
	// 	// transform: translate(-38%, 0);
	// }
	.nav {
		line-height: 23px;
	}
	.nav-items a {
		padding: 0 17px;
		font-size: 1rem;
	}
	.offer-info {
		width: 222px;
		font-size: 1.2rem;
	}
	.info-list {
		width: 205px;
		font-size: 1rem;
		padding-top: 2px;
	}
	.about-info,
	.offers-info {
		width: 300px;
		font-size: 1.2rem;
	}
	.info-list p {
		padding: 2px 0;
	}

	#job {
		height: 385px;
	}
	.job-file {
		width: 70%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	#ask-offer {
		height: 430px;
	}
	form {
		p {
			font-size: 1.3rem;
		}
		div {
			p {
				margin: 0px 20px;
			}
			p:first-child {
			}
		}
		button {
			font-size: 1.2rem;
		}
		input {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 650px) {
	.shadow {
		width: 410px;
	}
}

// @media (min-width: 750px) {
// 	.shadow {
// 		width: 400px;
// 	}
// }

// @media (min-width: 768px) {
// 	.logo-picture {
// 		height: $height-nav * 2.5;
// 		width: $height-nav * 2.5;
// 	}
// 	.container {
// 		font-size: 1.8rem;
// 	}
// 	.nav {
// 		height: 5rem;
// 		line-height: 5rem;
// 	}
// 	.nav-items a {
// 		font-size: 1.5rem;
// 		padding: 2.2rem 4.5rem;
// 		letter-spacing: 3px;
// 	}
// 	section {
// 		scroll-margin-top: $height-nav * 2.5 + $container-margin;
// 	}
// 	.header {
// 		height: 500px;
// 		background-image: url("../img/warsaw_1920.jpg");
// 	}
// 	.header-text img {
// 		height: 200px;
// 		width: 200px;
// 		margin-left: 20%;
// 		text-align: center;
// 	}
// 	.header-text h1 {
// 		font-size: 4.2rem;
// 	}
// 	.header-text p {
// 		font-size: 2.3rem;
// 	}
// 	.shadow {
// 		max-width: 750px;
// 	}
// 	.section-title {
// 		margin-bottom: 30px;
// 		letter-spacing: 2px;
// 	}
// 	.dropdown-btn {
// 		padding: 12px;
// 	}
// 	.dropdown-box:hover button {
// 		transform: scale(1.12);
// 	}
// 	.dropdown-btn i {
// 		font-size: 3rem;
// 	}
// 	.dropdown-btn p {
// 		font-size: 2rem;
// 		margin-top: 9px;
// 	}
// 	.info-list p {
// 		font-size: 1.7rem;
// 	}
// 	.info-list {
// 		width: 300px;
// 	}
// 	#ask-offer {
// 		height: 530px;
// 	}
// 	#job {
// 		height: 495px;
// 	}
// 	form {
// 		position: relative;
// 		left: 50%;
// 		transform: translate(-50%, 0);
// 		width: 500px;
// 	}
// 	form p {
// 		font-size: 1.5rem;
// 	}
// 	.footer-text {
// 		font-size: 1.6rem;
// 	}
// 	form input {
// 		font-size: 1.6rem;
// 	}
// 	form button {
// 		font-size: 1.6rem;
// 	}
// 	form button {
// 		position: relative;
// 		left: 6%;
// 	}
// }

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {
// }

// @media (min-width: 1400px) {
// }
